@import "../../styles.scss";

.container{
    justify-content: center;
}
.block-title{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.title{
    font-family: 'modernist-bold';
    font-size: 48px;
    margin-bottom: 20px;
}
.text{
    font-family: 'modernist-regular';
    font-size: 24px;
    color : $color3 ;
}
.block-gray{
    background-color: #F4F7F9;
    position: relative;
    padding-top: 10rem;
    height: 25rem;
}
.block-abonnement{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
}
.MensuelVie{
    background-color:$font-color-white;    
    width: 393px;
    height: 476px;
    border-radius: 5px;
    box-shadow: 0px 40px 20px -19px rgb(204, 226, 255, 036) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Annuel{
    background-color:$font-color-white;  
    position: relative;
    width: 394px;
    height: 536px;
    border-radius: 5px;
    margin: 0 1rem;
    box-shadow: 0px 40px 20px -19px rgb(204, 226, 255, 036) ;
    border: 4px solid $color2;
    display: flex;
    align-items: center;
}
.title-bold{
    font-size: 30px;
    font-family: modernist-bold;
    color: $color1;
    margin-left: 25px;
    margin-bottom: 30px;
}
.text-apartir{
    font-size: 13px;
    font-family: modernist-regular;
    color: $color3;
    margin-left: 25px;
}
.chiffre{
    font-size: 50px;
    font-family: modernist-bold;
    color: $color-blue ;
    margin-left: 25px;
}
.chiffre-yellow{
    font-size: 50px;
    font-family: modernist-bold;
    color: $color2;
    margin-left: 25px;
}
.temps{
    font-family: modernist-regular;
    font-size: 20px;
    color: $color3;
}
.option{
    font-family: modernist-regular;
    font-size: 16px;
    color: $color3;
    margin-left: 25px;
    margin-bottom: 30px;
}
.svg-text{
    display: flex;
    margin-left: 20px;
}
.utilisateur{
    font-family: modernist-bold;
    font-size: 16px;
    color: $color1;
}
.button-blue{
    border-radius: 5px;
    border: 2px solid $color-blue;
    background-color: $bg-color;
    color:$color-blue;
    font-family: modernist-regular;
    width: 12rem;
    height: 40px;
    margin-left: 25%;
    margin-top: 20px;
    cursor: pointer;
}
.button-yellow{
    border-radius: 5px;
    border: 4px solid $color2;
    background-color: $color2;
    color: $color1;
    font-family: modernist-bold;
    width: 12rem;
    height: 40px;
    margin-top: 20px;
    margin-left: 35%;
    cursor: pointer;
}
.bandeau{
    top: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 150px 0;
    border-color: transparent $color2 transparent transparent;
}
.bandeau > p {
    transform: rotate(45deg);
    white-space: nowrap;
    position: absolute;
    top: 3.2rem;
    left:2.2rem;
    font-family: 'modernist-bold';
}
.triangle{
    top: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #FFFFFF transparent transparent;
}

.block-formules{
    display: flex ;
    margin: 10rem;
    padding-top: 15rem;
}

.fonctionnalités{
    font-family: 'modernist-bold';
    font-size: 48px;
}
.block-résumé{
    columns: 2;
}
.block-résumé :nth-last-child(1){
    column-span: all;
}
.block-résumé :nth-child(1){
    margin-top: 0;
}
.block-check{
    display: flex;
    gap: 0 30px;
    margin-top: 3rem;
}
.résumé {
    font-family: 'modernist-regular';
    font-size: 20px;
    color: $color3;
    transform: translateY(-2px);
}
.bold{
    font-family: 'modernist-bold';
    font-size: 20px;
    color: $font-color-black;
}
.check{
    height: 25px;
    min-width: 25px;
    background-color: $color2;
    border-radius: 50%;
    position: relative;
}

.check > img {
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

