<div class="container">
  <div class="block-gray">
  <section class="block-title">
    <p class="title">Des tarifs lorem ipsum</p>
    <p class="text">
      Get ready, start your indoor training and explore the world from home on
      Kinomap!
    </p>
  </section>
  <section class="block-abonnement">
    <div class="MensuelVie">
      <p>Mensuel</p>
      <div>
        <p>à partir de</p>
        <p>89,99€ <span>/AN</span></p>
        <p>pour <span>1 utilisateur</span></p>
      </div>
      <div>
        <p>disponible avec l'option famille <span>jusqu'a 5 utilisateurs</span></p>
      </div>
      <button></button>
    </div>
    <div class="Annuel">
      <div class="bandeau">
        <p>BEST VALUES</p>
      </div>
      <div class="triangle"></div>
      <div>
        <p>Annuel</p>
        <div>
          <p>à partir de</p>
          <p>89,99€ <span>/AN</span></p>
          <p>pour <span>1 utilisateur</span></p>
        </div>
        <div>
          <p>disponible avec l'option famille <span>jusqu'a 5 utilisateurs</span></p>
        </div>
        <button></button>
      </div>
    </div>
    <div class="MensuelVie">
      <p>À vie</p>
      <div>
        <p>à partir de</p>
        <p>89,99€ <span>/AN</span></p>
        <p>pour <span>1 utilisateur</span></p>
      </div>
      <div>
        <p>disponible avec l'option famille <span>jusqu'a 5 utilisateurs</span></p>
      </div>
      <button></button>
    </div>
  </section>
</div>
  <section class="block-formules">
    <div>
      <p class="fonctionnalités">Fonctionnalités incluses dans les formules</p>
    </div>
    <div class="block-résumé">
      <div class="block-check">
        <div class="check">
          <img src="../../assets/images/check.svg" alt="" />
        </div>
        <p class="résumé">
          Partagez vos activités sur des
          <span class="bold">plateformes tierces de Fitness</span>
        </p>
      </div>

      <div class="block-check">
        <div class="check">
          <img src="../../assets/images/check.svg" alt="" />
        </div>
        <p class="résumé">
          Profitez de l'expérience complète en débloquant l'accès a toutes les
          vidéos de Kinomap
        </p>
      </div>

      <div class="block-check">
        <div class="check">
          <img src="../../assets/images/check.svg" alt="" />
        </div>
        <p class="résumé">
          Pratiquez de l'<span class="bold">entrainement par intervalle</span>
        </p>
      </div>

      <div class="block-check">
        <div class="check">
          <img src="../../assets/images/check.svg" alt="" />
        </div>
        <p class="résumé">
          Rejoingnez des <span class="bold">sessions multijoueurs </span>avec des
          participant du monde entier
        </p>
      </div>

      <div class="block-check">
        <div class="check">
          <img src="../../assets/images/check.svg" alt="" />
        </div>
        <p class="résumé">
          Prenez part à <span class="bold">nos challenges </span>et soyez
          récompensés !
        </p>
      </div>
    </div>
  </section>
</div>
