@import "../../styles.scss";

.container{ 
    background-color:$color1;
    display: flex;
    justify-content: center;
    height: 480px;
    flex-direction: column;
    margin: 30px;
}
.block-text{
    margin-left: 15rem;
    margin-right: 40rem;
}
.title{
    font-family: modernist-bold;
    font-size: 48px;
    color: $font-color-white;
    margin-bottom: 10px ;
}
.description{
    font-family: modernist-regular;
    font-size: 24px;
    color: $font-color-gray;
    margin-bottom: 20px ;
}
.button{
    background-color:$color2;
    padding: 15px 60px 15px 60px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 4px solid $color2;
    font-family: modernist-bold;
    color: $color1;
    cursor: pointer;
}
.block-svg{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lien{
    font-family: modernist-regular;
    font-size: 16px;
    color: $font-color-white;
    padding-right: 10px;
    transform: translateY(-10%);
}
